<div class="auth-wrapper">
    <form class="form-forgotPassword" [formGroup]="ForgotPassword" (ngSubmit)="onSubmit()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Sign in</h3>
        <!-- Errors -->
        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
        </div>
        
        <!-- Login -->
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
       
        <button type="submit" class="btn btn-block btn-primary my-4">Log in</button>

        <!-- <div class="alert alert-warning" *ngIf="isSignUpFailed">
            Signup failed!<br />{{ errors.message }}
          </div> -->
    </form>
  </div>